body{
    background-color: rgb(177, 176, 175);
}

.fiche{
    width: 780px;
    margin: auto;
    font-family: "Source sans Pro", Calibri,  Tahoma,  sans-serif;
    font-size: 16px;
    border: 5px solid #3388dd;
    border-radius: 10px;
    box-shadow: 2px 4px 3px rgb(26, 21, 21);
    padding: 20px;
    background-color: rgb(242, 242, 247);
}

.rens-image{
    height: 250px;
}

.info{
   float: left;
}

.image{
    float: right;
}

.section{
    margin-bottom: 70px;
    text-align: justify;
}

.sec-gauche{
    float: left;
    font-weight:bold ;
    font-size: 20px;
}

.sec-droite{
    margin-left: 150px;
    margin-top: 38px;
    
}
h2{
    font-size: 28px;
    color: #3388dd;
    border-bottom: #3388dd;
    background-color: rgb(12, 8, 8);
}

.duree{
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}

.titre{
    font-weight: bold;
    font-size: 20px;
}
#format-gauche p{
    margin-bottom:35px ;
}

#exp-gauche p{
    margin-bottom: 37px;

}

#exp-gauche p{
    margin-top: 54px;
}

#tach-droite-sub p{
    margin-top: 40px;
}

#tach-droite p{
    line-height: 25px;

}
#sport-droite p{
    margin-top: 60px;
}
